@using BorjiShop.Controllers
@using BorjiShop.DAL
@using BorjiShop.Models
@{
    var Brands = new DAL_Brand().GetAllBrand();
    var Piecetypes = new DAL_PieceType().GetAllPieceType();
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<meta charset="utf-8" />
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fa">
<head>
    <title>فروشگاه آنلاین قطعات موبایل برجی</title>
    <!--styles-->
    <link rel="icon" type="image/png" href="/Content/Images/Main-Picture/favicon.png" />
    <link rel="stylesheet" href="/Content/Styles/bootstrap.rtl.css" />
    <link rel="stylesheet" href="/Content/Styles/animate.min.css" />
    <link rel="stylesheet" href="/Content/Styles/bootstrap-dropdownhover.min.css" />
    <link rel="stylesheet" href="/Content/Styles/hover.css" />
    <link rel="stylesheet" href="/Content/Styles/font-awesome.css" />
    <link rel="stylesheet" href="/Content/Styles/mainstyle.css" />
    <!--end of styles-->
</head>
<body>
    <!--menu-->
    <nav class="navbar navbar-custom">
        <div class="container-fluid main-menu-container">
            <!--logo-->
            <div class="navbar-brand pull-right navbar-brand-custom">
                <a href="/">
                    <img src="/Content/Images/Main-Picture/logo.png" class="img-responsive" />
                </a>
            </div>
            <!--end of logo-->
            <div class="navbar-header navbar-header-custom pull-left">
                <button type="button" class="navbar-toggle navbar-toggle-custom" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-header pull-left navbar-header-left">
                @if (Session["User"] == null)
                {
                    <a href="#" data-toggle="modal" data-target="#login-modal">ورود / عضویت</a>
                }
                else
                {
                    User user = (User)Session["User"];
                    <ul class="nav navbar-nav navbar-nav-custom">
                        <li class="dropdown" style="margin-top: -14px;">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                &nbsp;@user.FirstName @user.LastName&nbsp;<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu sub-menu">
                                <li value=""><a href="@Url.Action("UserProfile","Users",new {id=user.ID})"><span style="font-size: 16px;"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;</span>پروفایل</a></li>
                                <li><a href="#" onclick="logOut();"><span style="font-size: 16px;"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;</span>خروج از حساب کاربری</a></li>
                            </ul>
                        </li>
                        <li><span>|</span></li>
                        <li style="margin-top: -14px;"><a href="@Url.Action("Index","ShoppingCart")"><span style="font-size: 20px; color: #0842EC;"><i class="fa fa-shopping-cart"></i><div style="font-size: 10px;" class="pull-left" id="countShopCart"></div></span></a></li>
                    </ul>
                }
            </div>
            <div class="collapse navbar-collapse navbar-collapse-custom" id="menu" data-hover="dropdown"
                 data-animations="zoomIn zoomIn zoomIn zoomIn">
                <ul class="nav navbar-nav navbar-nav-custom">
                    <li><a class="hvr-underline-from-center" href="/">صفحه اصلی</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown" href="#">
                            قطعات اصلی<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu sub-menu">
                            @foreach (Brand item in Brands)
                            {
                                <li value="@item.ID"><a style="cursor: pointer;" onclick="searchPieceByBrand(@item.ID,1)">@item.PersianName</a></li>
                            }
                        </ul>
                    </li>
                    <li><a class="hvr-underline-from-center" href="@Url.Action("AboutUs","Us")">درباره ما</a></li>
                    <li><a class="hvr-underline-from-center" href="@Url.Action("ContactUs","Us")">تماس با ما</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--end of menu-->
    <div class="main">
        <!--header-->
        <header class="img-responsive">
            <div class="container-fluid">
                <div class="row">
                    <div class="logo">
                        <div class="text-center">
                            <h2>مرکز تخصصی فروش قطعات تلفن همراه</h2>
                        </div>
                        @*<div class="text-center">
                                <h3>چه قطعه ای می خواهید؟</h3>
                            </div>*@
                    </div>
                    <div class="form-group input-group search-div">
                        <select name="drppieceTypeId" id="drppieceTypeId" class="custom-select">
                            <option value="0">انتخاب نوع قطعه</option>
                            @foreach (var item in Piecetypes)
                            {
                                <option value="@item.ID">@item.PersianName</option>
                            }
                        </select>
                        <select name="drpbrandId" id="drpbrandId" class="custom-select" onchange="getDeviceByBrandId()">
                            <option value="0">انتخاب برند</option>
                            @foreach (var item in Brands)
                            {
                                <option value="@item.ID">@item.PersianName</option>
                            }
                        </select>
                        <select name="drpdeviceId" id="drpdeviceId" class="custom-select">
                            <option value="0">انتخاب دستگاه</option>
                        </select>
                        <button class="btn btn-success" style="margin-right: 3px;" onclick="searchPiece(1)">جستجوی قطعه</button>
                    </div>
                </div>
            </div>
        </header>
        <!--end of header-->
        <!--main content-->
        <div id="main-content">
            @RenderBody()
        </div>
        <!--end of main content-->
    </div>
    <!--footer-->
    <footer class="container-fluid footer-custom">
        <div class="col-md-6">
            <br/>
            <br/>
            <br/>
            @*<div class="col-sm-12 col-md-6 col-md-offset-3 footer-title text-center">
                <p><i class="fa fa-bar-chart" style="margin-left: 5px;"></i>آمار سایت</p>
            </div>
            <div class="clearfix"></div>
            <ul style="margin-top: 10px;">
                <li class="footer-items">
                    <i class="fa fa-users"></i>کاربران آنلاین:<span style="margin-right: 5px;">2523</span>
                </li>
                <li class="footer-items">
                    <i class="fa fa-eye"></i>کل بازدیدها:<span style="margin-right: 5px;">623200</span>
                </li>
                <li class="footer-items">
                    <i class="fa fa-file"></i>کل مطالب:<span style="margin-right: 5px;">3260</span>
                </li>
                <li class="footer-items">
                    <i class="fa fa-comments-o"></i>کل نظرات:<span style="margin-right: 5px;">53263</span>
                </li>
                <li class="footer-items"><i class="fa fa-user"></i>کاربران:<span style="margin-right: 5px;">5236</span></li>
            </ul>*@
        </div>
        <div class="col-md-6">
            <br/>
            <br/>
            <br/>
            @*<div class="col-sm-12 col-md-6 col-md-offset-3 footer-title text-center">
                <p><i class="fa fa-th-list" style="margin-left: 5px;"></i>بخش های سایت</p>
            </div>
            <div class="clearfix"></div>
            <ul style="margin-top: 10px;">
                <li class="footer-items"><a href="#"><i class="fa fa-dot-circle-o"></i>صفحه اصلی</a></li>
                <li class="footer-items"><a href="#"><i class="fa fa-dot-circle-o"></i>قطعات اصلی</a></li>
                <li class="footer-items"><a href="#"><i class="fa fa-dot-circle-o"></i>درباره ما</a></li>
                <li class="footer-items"><a href="#"><i class="fa fa-dot-circle-o"></i>تماس با ما</a></li>
            </ul>*@
        </div>
    </footer>
    <!--end of footer-->
    @{
        Html.RenderPartial("~/Views/Shared/Partial/_Login.cshtml");
    }

    @{
        Html.RenderPartial("~/Views/Shared/Partial/_Boxes.cshtml");
    }
    <!--scripts-->
    <script src="~/scripts/jquery.min.1.11.2.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/bootstrap-dropdownhover.min.js"></script>
    <script src="~/scripts/responsiveslides.min.js"></script>
    <script src="~/scripts/mainscript.js"></script>
    <script src="~/RequestScript/MasterLayout.js"></script>
    <script src="~/RequestScript/Home.js"></script>
    <script>
        $(document).ready(function () {
            hideLoader();
            var parameters = {};
            CallMethod("/Shop/Index",
                JSON.stringify(parameters),
                function (response) {
                    $("#countShopCart").html(response);
                },
                false);
        });

        function addToCart(id) {

            var parameters = {};
            parameters["pieceId"] = id;
            CallMethod("/Shop/Get",
                JSON.stringify(parameters),
                function (response) {
                    if (response === "این قطعه در سبد خرید شما وجود دارد.") {
                        LiteBoxShown("", response, "", true);
                        $("#LiteBoxButtom").click(function () {
                            closeErrorMessage();
                        });
                    }
                    else {
                        $("#countShopCart").html(response);
                    }
                },
                false);
        }
    </script>
    <!--end of scripts-->
</body>
</html>
